<turbo-frame id="follow_button">
  <% if current_user.username == this_user.username %>
      <div class="follow_<%= this_user.id %>">
        <%= button_to 'プロフィールを編集', "/#{this_user.username}/profile/edit", method: :get, id: "follow_btn", class: "btn btn-primary rounded-pill" %>
      </div>
  <% elsif current_user.following?(this_user) %>
    <%= button_to 'フォロー中', user_follows_path(this_user.id), method: :delete, remote: true, id: "follow_btn", class: "btn btn-primary rounded-pill" %>
  <% else %>
    <%= button_to 'フォロー', user_follows_path(this_user.id), method: :post, remote: true, id: "follow_btn", class: "btn btn-outline-primary rounded-pill" %>
  <% end %>
</turbo-frame>