<turbo-frame id="result">
  <% users.each do |this_user| %>
    <div class="row mb-2" id="posts">
      <div class="col-2">
        <%= image_tag this_user.icon.thumb100.url, class: "rounded-circle" %>
      </div>
      <div class="col-10">
        <p class="mb-0">
          <%= this_user.name %>
          <a class="text-decoration-none" href="/profile/<%= this_user.username %>">@<%= this_user.username %></a>
        </p>
      </div>
    </div>
  <% end %>
</turbo-frame>