  <% posts.each do |post| %>
    <div id="post_<%= post.id %>" class="mb-2">
        <%= render 'shared/new_post', post: post, this_user: users.find_by(username: post.username) %>
    </div>
  <% end %>
  <turbo-frame id="add_posts_filed">
  </turbo-frame>