<div class="container">
   <% posts.each do |post| %>
      <%= render partial: 'shared/post', locals:{'post': post} %>
      <br>
   <% end %>
</div>

<script>
   function jumpToThis(id){
      location = '/posts/' + id
   }

   function jumpToProfile(username){
      location = '/posts/' + username + '/profile'
   }
</script>