<div id="timeline" class="container">
   <turbo-frame id="new_post">
   </turbo-frame>
   <%= render 'shared/posts_line', posts: posts, users: users %>
</div>

<script>
   function jumpToThis(id){
      location = '/posts/' + id
   }

   function jumpToProfile(username){
      location = '/posts/' + username + '/profile'
   }
</script>