<div class="container" id="timeline">
   <% posts.each do |post| %>
      <div id="post_<%= post.id %>" class="mb-2">
         <%= render 'shared/post', post: post, this_user: users.find_by(username: post.username) %>
      </div>
   <% end %>
</div>

<script>
   //ゴミコードなので今後のリファクタリング必須
   function jumpToThis(id){
      location = '/posts/' + id
   }

   function jumpToProfile(username){
      location = '/posts/' + username + '/profile'
   }
</script>