
<h2 class="form-heading ms-2">検索</h2>
<%= form_with url: search_index_path, data: { turbo_frame: "result", controller: "search", action: "input->search#submit"}, method: "get",
  id: "search-form", class: "form" do |f| %>
  <input type="text" name="keyword" class="form-control" placeholder="キーワードを入力">
  <input type="hidden" name="tab_type" id="tab-type" data-search-target="tabType" value="posts">

  <div class="mt-2">
    <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          data-action="click->search#changePosts search#submit"
          class="nav-link active"
          id="posts-tab"
          data-bs-toggle="tab"
          data-bs-target="#posts"
          type="button"
          role="tab"
          aria-controls="posts"
          aria-selected="true"
        >
          投稿
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          data-action="click->search#changeUsers search#submit"
          class="nav-link"
          id="users-tab"
          data-bs-toggle="tab"
          data-bs-target="#users"
          type="button"
          role="tab"
          aria-controls="users"
          aria-selected="false"
        >
          ユーザー
        </button>
      </li>
    </ul>
  </div>
<% end %>
<div class="container">
  <turbo-frame id="result"></turbo-frame>
</div>

