<div class="main posts-new">
  <h2 class="form-heading ms-2">検索</h2>
  <%= form_with url: search_index_path, data: { turbo_frame: "result", controller: "search", action: "input->search#submit"}, method: "get", class: "form" do |f| %>
    <input type="text" name="keyword" class="form-control" placeholder="キーワードを入力">
  <% end %>
  <div class="container">
    <%= render partial: 'shared/result', locals:{ 'posts': @results, 'users': @users } %>
  </div>
</div>
