<div class="main posts-new">
   <% if current_user != nil %>
      <h2 class="form-heading ms-2">タイムライン</h2>
      <%= render partial: 'shared/TimeLine', locals:{ 'posts': @posts, 'users': @users } %>
   <% else %>
      <h2>ログインしてください</h2>
   <% end %>
</div>
