<div class="main posts-new">
   <div class="container">
   <% if current_user != nil %>
      <h2 class="form-heading ms-2">投稿する</h2>
      <%= form_with url: posts_create_path, local: true do |f| %>
         <div class="form">
            <table class="table table-borderless">
               <tbody>
                  <tr>
                     <td>
                        <%= current_user.name %>
                     </td>
                     <td>
                        <div class="form-body">
                           <input type="hidden" name="username" value="<%= current_user.username %>">
                        </div>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <label>内容</label>
                        <div class="form-body">
                           <textarea class="form-control" name="content"></textarea>
                        </div>
                     </td>
                     <td>
                        
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <input type="submit" class="btn btn-primary rounded-pill" value="投稿">
                     </td>
                     <td>
                        
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      <% end %>
   </div>
   <%= render partial: 'shared/TimeLine', locals:{ 'posts': @posts, 'users': @users } %>
   <% else %>
         <h2>ログインしてください</h2>
   <% end %>
</div>
