<div class="main posts-new">
   <div class="container">
      <h2 class="form-heading ms-2"><%= current_user.name %>'s Profile</h2>
  </div>
</div>

<%= render partial: 'shared/TimeLine', locals:{ 'posts': @posts, 'users': @users } %>