<div class="container">
  <div class="row" id="posts">
    <turbo-frame id="turbo-frame-reply-posts">
      <%= render 'shared/reply_posts', post: @post, this_user: @this_user, users: @users %>
    </turbo-frame>
  </div>
</div>
